* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;

  font-size: 62.5%;
}

html {
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: 50% 50%;

  overflow-x: hidden;
  min-height: 100vh;
}

.col-b {
  background: url(./assets/side-image-2x.jpg) no-repeat center;
  background-size: cover;

  height: 100%;
}

a {
  text-decoration: none;
}

/* ================ COL-A ======================== */

.col-a {
  background: var(--background);
  height: 100%;
}

.col-a header {
  margin: 4rem 0 12.6rem 4rem;
}

.container {
  width: 57.2rem;
  height: 51.2rem;
  margin-inline: auto;
  padding: 6.1rem 11.8rem 5.5rem 11.9rem;

  border-radius: 4px;
  background: var(--form-background);

  margin-bottom: 19.4rem;
}

.form-title h1 {
  display: inline-block;
  font: 600 2.4rem 'Poppins', sans-serif;

  width: 17.6rem;
  height: 3.6rem;
  line-height: 3.6rem;
  vertical-align: 3px;

  margin: 0 0 .5rem 1rem;
  color: var(--text-title);
}

.form-title p {
  font: 500 1.6rem 'Roboto', sans-serif;
  color: var(--text-base);

  margin-bottom: 2.7rem;
}

form label:nth-child(1),
form label:nth-child(3) {
  display: block;
  font: 500 1.6rem 'Poppins', sans-serif;

  height: 24px;
  margin-bottom: .5rem;

  color: var(--text-base);
}

#email {
  width: 33.5rem;
  height: 4.4rem;

  background: url(./assets/mail.svg) no-repeat left;
  background-position: 12px;
  padding-left: 3.8rem;
  margin-bottom: 2rem;

  color: var(--text-base);
  border: 1px solid #868686;
  border-radius: 4px;

  transition: .2s ease-in-out;
}

#email:focus-within {
  background: url(./assets/mail-focus.svg) no-repeat left;
  background-position: 12px;

  border: 1px solid #FFC632;
  box-shadow: 0px 0px 0px 1px #FFDE88;
  border-radius: 4px;
  outline: none;
}

#email::placeholder {
  font: 400 1.4rem 'Roboto', sans-serif;
}

#password {
  width: 33.5rem;
  height: 4.4rem;

  background: url(./assets/lock.svg), url(./assets/eye.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 12px, 303px;
  padding-left: 3.8rem;
  margin-bottom: 2rem;

  color: var(--text-base);
  border: 1px solid #868686;
  border-radius: 4px;

  transition: .2s ease-in-out;
}

#password:focus-within {
  border: 1px solid #FFC632;
  box-shadow: 0px 0px 0px 1px #FFDE88;
  border-radius: 4px;
  outline: none;
}

#checkbox {
  all: unset;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  border: 1px solid #868686;
  border-radius: 4px;

  margin-bottom: 1.9rem;
}

#checkbox:checked {
  background: url(./assets/check.svg) center, var(--primary-color);
  width: 2.2rem;
  height: 2.2rem;

  border: none;
  outline: none;
}

#checkbox + label {
  display: inline-block;
  font: 400 1.6rem 'Roboto', sans-serif;
  vertical-align: 4px;
  padding-left: 5px;
  color: var(--text-base);
}

form div {
  display: flex;
}

form div p a {
  display: inline-block;
  text-align: right;
  width: 22.5rem;
  font: 600 1.4rem 'Poppins', sans-serif;
  color: var(--primary-color);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 5.1rem;
  background: var(--primary-color);

  border: none;
  border-radius: 4px;

  font: 600 1.8rem 'Poppins', sans-serif;
  color: #473404;
  letter-spacing: 0.015em;
  text-transform: uppercase;

  margin-bottom: 1.4rem;
}

form p:nth-child(7) {
  width: 100%;
  text-align: center;

  font: 400 1.4rem 'Poppins', sans-serif;
  color: var(--primary-color);
}

form p:nth-child(7) a {
  font: 600 1.4rem 'Poppins', sans-serif;
  color: var(--primary-color);
}

/* ============== Responsividade ================ */

@media (max-width: 1150px) {
  .container {
    width: 90%;
    padding-inline: 6rem;
    margin-inline: 3rem;
    background: initial;
  }

  .btn {
    width: 33.3rem;
  }

  form p:nth-child(7) {
    width: fit-content;
  }
}

@media (max-width: 950px) {
  body {
    display: grid;
    grid-template-columns: 1fr;

    min-height: 1000px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;
    margin: 0 auto ;
    padding-inline: 3rem;

    background: var(--form-background);
  }

  .col-a {
    width: 100%;
    min-height: 100vh;
  }

  .col-b {
    display: none;
  }

}

@media (max-width: 550px) {
  body {
    min-height: 812px;
  }

  .col-a header{
    margin: 4rem 0 3rem 2rem;
  }

  .container {
    padding: initial;
    background: initial;
    width: 90%;
  }

  .form-title {
    text-align: left;
    width: 100%;
  }

  form {
    width: 100%;
  }

  #email,
  #password {
    width: 100%;
  }

  #password {
    background: url(./assets/lock.svg), url(./assets/eye.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 12px, 97%;
  }

  .checkbox {
    width: fit-content;
    height: 20px;
    margin-bottom: 0;

    position: relative;
    gap: 5px;
  }

  .checkbox label {
    position: initial;
  }

  #checkbox {
    width: 22px;
    height: 22px;
  }

  form div {
    margin-bottom: 1.9rem;
    justify-content: space-between;
  }

  form div p{
    width: fit-content;
  }

  form div p a{
    width: fit-content;
  }

  .btn {
    width: 100%;
  }

  form p:nth-child(7){
    margin-inline: auto;
  }
}

@media (max-width: 320px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
  }

  .checkbox {
    gap: 3px;
  }

  form p:nth-child(7) {
    width: 100%;
    text-align: center;
  }
}



